exportPattern("^[^\\.]")

#import(spdep)

importFrom('spdep','poly2nb', 'nb2listw', 'lag.listw','card','Szero',
           'listw2mat')

importFrom("grDevices", "rgb")
importFrom("graphics", "box", "legend", "plot", "title",
           'abline')
importFrom("stats", "quantile")
importFrom("stats", "sd", 'coef', 'formula', 'lm')

importFrom("sp","plot")
importFrom("ggplot2", "ggplot", "geom_bar", "coord_polar","scale_fill_manual",
           "theme","element_blank","scale_x_continuous","geom_text","labs","aes")

S3method(print, moranPerm)
S3method(plot, lisaPerm)

#Check non-ascii characters
#tools::showNonASCII(readLines("./pkg/man/roseDiagram.Rd"))